body {
    background-color: #CAF0F8;
    font-family: 'Trebuchet MS', sans-serif;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 300px;
    gap: 1.5em;
    height: fit-content;
}


#searchSide {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: #90E0EF;
    border: solid 2px #0077b6;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #03045e;
    padding: 1em;
}

#todayForecast {
    grid-column: 2 / 3;
    grid-row: 1/4;
    background-color: #00B4D8;
    border: solid 2px #0077b6;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #03045e;
    padding: 1em;
}

#fiveDayForecast {
    grid-column: 3;
    grid-row: 1 / 4;
    background-color: #00B4D8;
    border: solid 2px #0077b6;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #03045e;
    padding: 1em;
}


h1 {
    text-align: center;
    color: #03045E;
    font-size: 4em;
    margin-bottom: 0;
    text-transform: capitalize;
}


/* Styling the search aside */
#searchSide h2 {
    text-align: center;
    color: #03045E;
    font-size: 2em;
    margin-bottom: .25em;
}

#searchBar {
    display: flex;
    align-items: center;
}

#cityName {
    flex: 1;
    /* Take up available space */
    font-size: 1.5em;
    border-radius: 10px;
    border: solid 1px;
}

#submitBtn {
    flex: 0;
    /* Don't grow, keep its natural width */
    font-size: 1.5em;
    margin-left: 10px;
    border-radius: 35px;
    background-color: #d5f3f9;
}

/* Styling for the daily forecast section */

#todayForecast h1 {
    text-align: center;
    color: #03045E;
    font-size: 3em;
    margin-bottom: 0.15em;
    margin-top: .5em;
}

#todayForecast img {
    display: block;
    margin: 0 auto;
    width: 6em;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

#todayForecast h2 {
    text-align: center;
    padding-top: .15em;
    color: #03045e;
}

#todayForecast h3 {
    text-align: center;
    font-size: 2em;
    color: #03045e;
}

/* Setting up the five day forecast as far as fitting on the screen nicely */
#fiveDayForecast {
    color: #03045e;
}

#fiveDayForecast h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: .75em;
    font-weight: bolder;
}

#fiveDayForecast h4 {
    font-size: 1.3em;
    margin-top: .15em;
    margin-bottom: .15em;
}

#fiveDayForecast hr {
    color: black;
}

#fiveDayForecast img {
    float: right;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    width: 5em;
}

/* Setting the styling for the tabs that will appear in the history tab */

#historyBtn {
    background: #d5f3f9;
    border: 1px solid;
    border-radius: 10px;
    padding: none !important;
    width: 100%;
    font-size: 1.5em;
}

/* Media Queries */
@media (max-width: 768px) {

    /* Stack the elements on smaller screens */
    #searchSide,
    #todayForecast,
    #fiveDayForecast {
        grid-column: auto;
        grid-row: auto;
        width: 100%;
        margin: 0;
    }
}