/* #searchSide {
    float: left;
}

#todayForecast {
    float: right;
}

#fiveDayForecast {
    float: right;
} */

#body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

#searchSide {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgb(206, 221, 247);
}

#todayForecast {
    grid-column: 2 / 4;
    grid-row: 1;
}

#fiveDayForecast {
    grid-column: 2/4;
    grid-row: 2;
}

body {
    background-color: rgb(209, 226, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    text-align: center;
}

#cityName {
    width: 100%;
}

#submitBtn {
    width: 100%;
}